doctype html
- load static from staticfiles
html
  head
    meta(charset='utf-8')
    title Kaira
    link(rel='stylesheet', href='{% static "bootstrap/css/bootstrap.min.css" %}')
    link(rel='icon', type='image/png', href='/static/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    .container
      block content
        p Sisältö tulee tähän.
