extends base.jade
block content
  h1 Sisäänkirjautuminen epäonnistui
  p Sisäänkirjautuminen Kompassin kautta epäonnistui. Voit kokeilla seuraavaa:
  ul
    li: <a href='{{ kompassi }}/logout'>Kirjaudu ulos Kompassista</a>, kirjaudu uudelleen sisään ja yritä uudestaan.
    li Mikäli tämä ei auttanut, ota yhteyttä Kompassin ylläpitoon os. <em>suunnistajat@kompassi.eu</em>.
